<!-- include header -->
<%- include('../_header') %>
<!-- /include header -->

<main id="site-main">
    <div class="container">
      <div class="box-nav justify-between">
        <div class="container">
          <a href="/experiment_list" class="btn">All experiments</a>
      </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Experiment</h2>
            <span class="text-light">Use the below form to update the experiment</span>
        </div>

        <!-- form handling -->
        <form action="/api/experiments" method="PUT" id="update_experiment" class="update">
  
 <div class="new_experiment">
  <!-- EXPERIMENT NAME INPUT -->
    <div class="form-group">
      <label for="name" class="text-light">Experiment Name</label>

      <input type="text" name="experiment_name" value="<%= experiment.experiment_name %>" placeholder="" />
    </div>
  <!-- /EXPERIMENT NAME INPUT -->

  <!-- GRADE INPUT -->
    <div class="form-group">
      <label for="grade" class="text-light">Grade</label>
      <div class="radio inline">
        <input type="radio" name="grade" value="10" <%= experiment.grade == "10" ? 'checked' : '' %>/>
        <label for="grade" class="text-light">10</label>
      </div>
      <div class="radio inline">
        <input type="radio" name="grade" value="11" <%= experiment.grade == "11" ? 'checked' : '' %>/>
        <label for="grade" class="text-light">11</label>
      </div>
      <div class="radio inline">
        <input type="radio" name="grade" value="12" <%= experiment.grade == "12" ? 'checked' : '' %>/>
        <label for="grade" class="text-light">12</label>
      </div>
    </div>
  <!-- / GRADE INPUT -->

  <!-- CHAPTER INPUT -->

    <div class="form-group">
      <label for="chapter" class="text-light">Chapter</label>

      <input type="text" name="chapter" value="<%= experiment.chapter %>" placeholder="" />
    </div>

    <!-- / CHAPTER INPUT -->

    <!-- LESSON INPUT -->

    <div class="form-group">
      <label for="lesson" class="text-light">Lesson</label>

      <input type="text" name="lesson" value="<%= experiment.lesson %>" placeholder="" />
    </div>

    <!-- / LESSON INPUT -->

    <!-- SUBJECT INPUT -->
    <div class="form-group">
      <label for="subject" class="text-light">Subject</label>
      <div class="radio inline">
        <input type="radio" name="active" value="Chemistry" />
        <label for="subject" class="text-light">Chemistry</label>
      </div>
      <div class="radio inline">
        <input type="radio" name="active" value="Mathematics" />
        <label for="subject" class="text-light">Mathematics</label>
      </div>
    </div>
  <!-- / SUBJECT INPUT -->

  <!-- DESCRIPTION INPUT -->
    <div class="form-group">
      <label for="description" class="text-light">Description</label>
      <textarea type="text" name="description" value="<%= experiment.description %>" placeholder="" rows="12"><%= experiment.description %> </textarea>
    </div>
  <!-- / DESCRIPTION INPUT  -->

   <!-- PHET URL INPUT -->
    <div class="form-group">
      <label for="phet_url" class="text-light">Phet URL</label>

      <input type="text" name="phet_url" value="<%= experiment.phet_url %>" placeholder="" />
    </div>
  <!-- /PHET URL INPUT -->

  <!-- UNITY SCENE INPUT -->
    <div class="form-group">
      <label for="unity_scene" class="text-light">Unity Scene</label>

      <input type="text" name="unity_scene" value="<%= experiment.unity_scene %>" placeholder="" />
    </div>
  <!-- /UNITY SCENE INPUT -->

  <!-- ACTIVE INPUT -->
    <div class="form-group">
      <label for="active" class="text-light">Active</label>
      <div class="radio inline">
        <input type="radio" name="active" value="true" <%= experiment.active == true ? 'checked' : '' %>/>
        <label for="active" class="text-light">true</label>
      </div>
      <div class="radio inline">
        <input type="radio" name="active" value="false" <%= experiment.active == false ? 'checked' : '' %>/>
        <label for="active" class="text-light">false</label>
      </div>
    </div>
  <!-- / ACTIVE INPUT -->

    <div class="form-group">
      <button class="btn text-dark update">Save</button>
    </div>
  </div>

</form>



        <!--/ form handling -->

      </div>
    </div>
  </main>

<!-- include footer -->
<%- include('../_footer') %>
<!-- /include footer -->