<div class="table-title">
  <h3>Subject List Table</h3>

  <a href="add-subject" class="btn">Add Subject</a>
</div>
<main>
  <div>
    <form action="">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Subject</th>
            <th>Active</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            <% for(var i = 0; i<subjects.length; i++) { %>
                <tr>
                <td><%= subjects[i]._id%></td>
                <td><%= subjects[i].subject_name %></td>
                <td><%= subjects[i].active %></td>
                <td>
                    <a href="update-subject?subject_id=<%= subjects[i]._id%>" class="btn border-shadow update">
                    <span class="text-gradient">edit</span>
                    </a>
                    <a href="#" class="btn border-shadow delete" data-id=<%= subjects[i]._id %>>
                    <span class="text-gradient">delete</span>
                    </a>
                </td>
                </tr>
                <% console.log(subjects[i]) %>
            <% } %>
        </tbody>
      </table>
    </form>
  </div>
</main>
